# Ignore large dataset directories (kept local only, not tracked by Git)
DATA/RAW/
DATA/SAMPLE/
DATA/PROCESSED/

# Ignore zip archives
*.zip

# Ignore python caches and system files
__pycache__/
*.pyc
.ipynb_checkpoints/
.vscode/
.idea/
desktop.ini
